extends layouts/base
block header
  include components/navbar
block main
  each category in categories
    include /components/category/hero

    section.section
      .container
        each row in [0, 4]
          .columns
            each column in [0, 1, 2, 3]
              - var post = category.posts[row + column]
              .column
                include components/post-card

    include components/category/pagination
block footer
  include components/footer
