extends layouts/base
block header
  include components/navbar
block main
  section.section.is-centered
    .container
      h1.title Category name
      p.subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, quasi nostrum, praesentium ab incidunt sint facilis molestias earum, possimus adipisci labore voluptates odio enim asperiores qui! Nesciunt quas reprehenderit, eaque.

  section.section.articles
    .container
      .columns
        .column
          include components/post-card  
        .column
          include components/post-card    
        .column
          include components/post-card   
        .column
          include components/post-card  

      include components/pagination
block footer
  include components/footer
