extends layouts/base
block seo
  include helpers/seo
  +base("Programming", "programming desc")
block header
  include components/navbar
block main
  include components/home/hero
  include components/section
block footer
  include components/footer
