extends layouts/base
block header
  include components/navbar
block main
  include components/hero
  section.section
    .container
      include components/tiles
block footer
  include components/footer
