<div class="card">
  <div class="card-content">

    <div class="content">
      h2 Задачи по програмированию для начинающих
      p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quam ab iste. Ipsum amet adipisci quisquam incidunt, obcaecati, ipsa maxime velit impedit numquam architecto odio suscipit provident molestias, aspernatur pariatur!
      <br>
      a.button(href="/") Перейти к задачам
    </div>
  </div>
</div>