section.hero.is-primary.is-medium
  .hero-body
    .container
      .columns.is-vcentered
        .column.is-5
          h1.title Основы программирования
          p.subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo distinctio quos incidunt blanditiis quo! Hic officia earum rerum quo perspiciatis possimus inventore unde delectus quod! Nam, quas soluta impedit blanditiis.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem enim dolores doloremque quaerat ad quas rerum tenetur sed, nesciunt deleniti aliquid. Dolorum, iusto. Perspiciatis est reiciendis rem nemo vero, non!
        .column.is-offset-1.is-6
          figure.image.is-2by1
            img(src="http://bulma.io/images/placeholders/1280x960.png")