section.hero.is-dark.is-medium
  .hero-body
    .container.has-text-centered
      h1.title.is-spaced Welcome to SaneDev!
      p.subtitle.is-spaced  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo distinctio quos incidunt blanditiis quo! Hic officia earum rerum quo perspiciatis possimus inventore unde delectus quod! Nam, quas soluta impedit blanditiis.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem enim dolores doloremque quaerat ad quas rerum tenetur sed, nesciunt deleniti aliquid. Dolorum, iusto. Perspiciatis est reiciendis rem nemo vero, non!
