nav.navbar.has-shadow
  .container
    .navbar-brand
      a.navbar-item(href="/")
        img(src="/assets/images/logo.svg")
      .navbar-burger.burger(data-target="header-navbar")
        span
        span
        span
    .navbar-menu#header-navbar
      .navbar-end
        a.navbar-item(href="") Задачи
        a.navbar-item(href="") Уроки
        a.navbar-item(href="") Алгоритмы и структуры данных
        a.navbar-item(href="") Книги