nav.navbar.has-shadow
  .container
    .navbar-brand
      a.navbar-item(href="/")
        img(src="/assets/images/logo.svg")
      .navbar-burger.burger(data-target="header-navbar")
        span
        span
        span
    .navbar-menu#header-navbar
      .navbar-end
        a.navbar-item(href="") Tasks
        a.navbar-item(href="") Tutorials
        a.navbar-item(href="") Algorithms
        a.navbar-item(href="") Books