a.card(href="/" + category.name + "/" + post.slug)
  .card-image
    figure.image.is-4by3
      img(src="http://bulma.io/images/placeholders/1280x960.png", alt="")
  .card-content
    .content
      h2.title #{post.title}
      p #{post.excerpt}