<div class="card">
  <div class="card-image">
    <figure class="image is-2by1">
      <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
    </figure>
  </div>
  <div class="card-content">

    <div class="content">
      h2.title Cart title
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo est alias neque quisquam laudantium ipsum, nam. Laborum dignissimos, repellendus quidem fuga laudantium excepturi, est, amet voluptatum earum inventore maxime recusandae.
    </div>
  </div>
</div>